.background{
	height: 83%;
	width: 85%;
	margin: 0 auto;
} 

.background img{
	height: 100%;
	width: 100%;
} 

#divChoose{
	/*width: 90px;
	 height: 120px;*/
	
	 height: 105px;
	border: 1px solid black;
	position: fixed;
	bottom: 20;
	text-align: center;
	display: none;
}

.one{
	color: black;
	background: #005599;
	width: 48px;
	height: 30px;
	
	border: 1px solid yellow;
	margin-top: 2px;
	
}

.one span{
	font-size: 2.5rem;
}
